<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="testNG.xml">
	<test thread-count="5" name="Test">
		<classes>
			<class name="Test.testCases_Login" />
			<class name="Test.Test_Customer_Index" />
			<class name="Test.Test_Express_Inv" />
			


		</classes>
	</test> <!--
	Test -->
</suite> <!--
testNG.xml -->
